page-parent-profile {
    .parent-profile{
       .blue-circle{
           h3{
                font-size: 15px;
           }
       }
       .yellow-circle{
            h3{
                font-size: 15px;
            }
        }

        .profile-image-parent {
          margin-top: 10px;
            img {
                border-radius: 50%;
            }
        }
    }

    ion-card img{
        height: 300px;
        overflow: hidden;
    }
}
