
<ion-content class="login-details">
  <div class="blue-square">
    <img src="../assets/imgs/blue-square.png" alt="blue-square">
  </div>
  
  <div class="inner-details">
      <div class="top-content makeCenter pt15">
        <div class="image">
          <img src="../../assets/imgs/app-logo.svg" alt="app-logo">
        </div>
        <div class="tagline">
          <p> Login with Cliiimb</p>
        </div>
      </div>
      <div class="login-form"  *ngIf="loginForm" [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <input type="text" value="" placeholder="Username" class="mt30 custom-input" padding formControlName="Email"/>
            <div *ngIf="form.Email.invalid && (form.Email.dirty || form.Email.touched)" class="invalid-feedback">
                <div *ngIf="form.Email.errors.required">Email is required</div>
                <div *ngIf="form.Email.errors.email">Email must be a valid email address</div>
            </div>
          </ion-item>
      
          <ion-item>
            <input type="password" value="" placeholder="Password" class="custom-input mt30" padding formControlName="Password"/>
            <div *ngIf="form.Password.invalid && (form.Password.dirty || form.Password.touched)" class="invalid-feedback">
                <div *ngIf="form.Password.errors.required">Password is required</div>
            </div>
          </ion-item>
      
        </ion-list>
      
        <div padding>
          <button ion-button color="primary" class="cliiimb-btn-primary" block (click)="login()">Sign In</button>
        </div>
        <div class="link1">
          <a (click)="forgot()">Forgot Password? </a> 
        </div>
      </div>
    </div>
    
    <div class="makeRed">
      <p>Don't have an account? <a (click)="openSignupPage()">Sign up</a> </p>
    </div> 
    <ion-grid>
        <ion-row>
          <ion-col col-6>
              <img class="orange-square" src="../assets/imgs/orange-square.png" alt="orange-square">
          </ion-col>
          <ion-col col-6>
              <img class="red-square" src="../../assets/imgs/red-square.png" alt="red-square">
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>


