<ion-content>
    <div class="forgot-content">
        <div class="forgot-logo">
            <img src="../../assets/imgs/app-logo.svg" alt="app-logo">
          </div>
        <div>
          <h2>Forgot Your Password</h2>
          <p>Enter your email address to reset your password</p>
        </div>

        <alert *ngIf="res && message" type="success">
          {{message}}
        </alert>
        <alert *ngIf="!res && message" type="danger">
          {{message}}
        </alert>

        
        <div class="login-form" [formGroup]="forgotForm">
          <ion-list>
            <ion-item>
              <input type="email" value="" placeholder="Enter Your Email" class="mt30 custom-input" formControlName="email" padding >
          </ion-item>
        </ion-list>
      
        <div padding>
          <button ion-button color="primary" class="cliiimb-btn-primary" block (click)="forgotPassword()">Request Reset Password</button>
        </div>
        <div class="link1">
          <a (click)="back()">Back to Login </a> 
        </div>
      </div>
  </div>

  
</ion-content>
