page-contribution-details {
    .content-md{
        background:#F7F7F7;
    }
    .cont-back{
        background: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
    }
    .modal-header{
        background: #fff;
    }
    .modal-title{
        color: #9196AB !important;
        margin: 0;
        line-height: 1.42857143;
        font-size: 14px;
    }
    .slider-content{
        padding: 0px 5px 0px 15px;
    }
    .cont-footer{
        border-top: 1px solid #eee;
        .folding{
            text-align: center;
            color: #000 !important;
            a{
                margin-right: 10px !important;
                margin-left: 10px !important;
                span{
                    font-size: 18px;
                    color: #F53E43 !important;
                }
            }
        }
      
    }
    .text-align{
        float: right;
    }

}
.red-circle{
    color: red !important;
}

