page-contribution-details {
    .custom-slides{
        .slider-header{
            h2{
                font-size: 17px;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                a{
                    color: #516CF1;
                }
            }
            
        }
       
        .slider-content{
            margin: 0px 15px 30px 15px;
            h3{
                font-size: 18px;
                text-align: left;
            }
            p{
                color: #9196AB;
                font-size: 15px;
                font-family: 'Brandon_reg';
                text-align: justify;
                a{
                    color: #337ab7;
                }
            }
        }
        .vid-height{
            height: 200px;
        }
    }

}
