<!--
  Generated template for the ContributionDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding *ngIf="detailLoader">
    <div class="loader makeCenter">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
</ion-content>
<ion-content padding *ngIf="contributionDetails && !detailLoader">
  <div class="contribution-detail">
    <ion-grid>
      <ion-row class="cont-back">
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <ion-card-header class="modal-header">
                <h5 class="modal-title" id=""><span class="fa fa-circle red-circle"></span>&nbsp; SPOTLIGHT - MEDIA</h5>
            </ion-card-header>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
              <div class="text-modal">   
                <ion-list>
                  <ion-item no-lines>
                    <ion-avatar item-start>
                      <img src="../../assets/imgs/avatar.png">
                    </ion-avatar>
                    <div center class="slider-header">
                      <h2>{{contributionDetails.UserFullName}}</h2>
                      <p><a href="#">Cliiimb</a>(judicial system)</p>
                    </div>
                  </ion-item>
                  <button class="follow-btn f-right" (click)="addMentor(contributionDetails.UserID,user.Age,contributionDetails)" *ngIf="user &&!contributionDetails.hasFollowing && user._id != contributionDetails.UserID  && contributionDetails.userType!='admin'">
                    FOLLOW
                  </button> 
                  <button class="follow-btn blue-icon f-right" (click)="unFollowMentor(contributionDetails.UserID, contributionDetails)" *ngIf="user && contributionDetails.hasFollowing && user._id != contributionDetails.UserID && contributionDetails.isAllowed">
                    UNFOLLOW
                  </button>
                  <button class="follow-btn orange-icon f-right" *ngIf="user && contributionDetails.hasFollowing && user._id != contributionDetails.UserID && !contributionDetails.isAllowed">
                    PENDING
                  </button> 
                  <ion-item class="action-icons b-bot">
                    <ion-icon *ngIf="contributionDetails.AudioPath" class="volume-icon" ios="ios-volume-up" md="md-volume-up" (click)="openFold('audio')" ></ion-icon>
                    <ion-icon *ngIf="contributionDetails.Videos" class="play-icon" ios="ios-play" md="md-play"  (click)="openFold('video')"></ion-icon>
                    <!-- <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon> -->
                  </ion-item>
                
                </ion-list>
                <div class="slider-content">
                  <h3 [innerHTML]="contributionDetails.Title">DISCIPLINE TO GROW YOURSELF</h3>
                  <p [innerHTML]="contributionDetails.ContributionText">DISCIPLINE! The 14th Ultimate 30-Minute Motivational Speech Compilation is here! </p>
                </div>
              </div>

              <div style="display: none" class="modal-video-view">
                <ion-item class="mt30" no-lines>
                  <!-- <iframe style="width: 100%" class="embed-responsive-item" id="videoModal" [src]="domSanitizer.bypassSecurityTrustUrl(contributionDetails.Videos)"></iframe> -->
                  <iframe  style="width: 100%" class="embed-responsive-item" id="videoModal"></iframe>
                </ion-item>
              </div>

              <div style="display: none" class="modal-audio-view">
                <ion-list>
                  <ion-item class="mt50" no-lines>
                    <h4 class="makeCenter">Audio</h4>
                    <audio controls style="width: 100%">
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                      </audio>
                  </ion-item>
                </ion-list>
              </div>

              <div style="display: none" class="modal-gallery-view">
                  <ion-slides pager>
                      <ion-slide>
                          <img src="../../assets/imgs/avatar.png">
                        <h1>title 1</h1>
                      </ion-slide>
                      <ion-slide>
                          <img src="../../assets/imgs/avatar.png">
                        <h1>title 2</h1>
                      </ion-slide>
                      <ion-slide>
                          <img src="../../assets/imgs/avatar.png">
                          <h1>title 3</h1>
                      </ion-slide>
                    </ion-slides>
              </div>
              <div style="display: none" class="modal-links-view">
                <h1>Links</h1>
                <!-- <ion-slides pager>
                    <ion-slide>
                        <img src="../../assets/imgs/avatar.png">
                      <h1>title 1</h1>
                    </ion-slide>
                    <ion-slide>
                        <img src="../../assets/imgs/avatar.png">
                      <h1>title 2</h1>
                    </ion-slide>
        
                  </ion-slides> -->
              </div>

              <div class="cont-footer">
                <ion-list>
                  <ion-row>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center>
                        <div class="folding">
                          <a id="prev">
                            <span (click)="moveBackward(contributionDetails.ModalValue)"><ion-icon name="arrow-round-back"></ion-icon></span>
                          </a> Fold {{current + 1 }}/{{modalArray.length}} 
                          <a id="next">
                            <span (click)="moveForward(contributionDetails.ModalValue)"><ion-icon name="arrow-round-forward"></ion-icon></span>
                          </a>
                        </div>
                    </ion-col>
                    <ion-col>
                      <button ion-button item-end clear class="text-align">
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>12 Likes</div>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button item-start clear>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                      </button>
                    </ion-col>
                    </ion-row>
                </ion-list>
              </div>
            
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
              <ion-textarea class="custom-textarea" placeholder="type your comment here" [(ngModel)]="userComment"></ion-textarea>
          </ion-col>
          <div class="btn-align">
              <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3>
                  <button class="red-btn" (click)="createComment()">
                     POST COMMENT
                  </button>   
              </ion-col>
            </div>
      </ion-row>
      
            <h2 class="primary-heading mt15 ">comments</h2>
            <ion-list *ngIf="contributionDetails.social && contributionDetails.social.Comments.length">
                <ion-item-sliding #item *ngFor="let comments of contributionDetails.social.Comments">
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="../../assets/imgs/admin_profile.jpg">
                    </ion-avatar>
                    <h2>{{comments.name}}</h2>
                    <p>{{comments.Comment}}</p>
                  </ion-item>
                  <ion-item-options side="right"  *ngIf="comments.CommentUserID == user._id || user.UserType =='admin' || contributionDetails.UserID == user._id" >
                    <button ion-button color="danger" (click)="deleteComment(comments.CommentID,contributionDetails.social.ContributionID)">Delete</button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
        
    </ion-grid>
  </div>


</ion-content>

<script>
  angular.module('ionicApp', ['ionic'])

.controller('SlideController', function($scope) {
  
  $scope.myActiveSlide = 1;
  
})
</script>