page-message {
    .chat-header{
        position: fixed;
        .title1{
            margin-top:15px; 
    
            h2{
                font-size: 17px;
            }
        }
        .back-icon{
            font-size: 12px;
        }
        .back-btn{
            font-size: 10px;
            margin: 3px 5px 0px 5px;
        }
    }
}
