<!--
  Generated template for the MessageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content padding>
  <ion-header class="chat-header">
    <ion-navbar>
        <ion-grid>
            <ion-row class="b-bot">
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                  <button ion-button color="red" class="back-icon" clear icon-start>
                    <span class="back-btn"><ion-icon name='ios-arrow-back'></ion-icon></span>
                    Back
                  </button>
              </ion-col>
              <ion-col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 offset-md-1>
                  <div icon-center class="title1">
                    <h2>{{user.FullName}}</h2>
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-navbar>
  </ion-header>
  
  <ion-grid>
    <div *ngIf="messages && messages.length" class="msg-section">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
          <div *ngFor="let message of messages; let i = index" class="left-msg">
            <p *ngIf="user._id == message.SenderUserId" class="txt">{{message.Message}}</p>
            <!-- <p class="time">wed | 14:00</p> -->
          </div>
        </ion-col>

        <ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
          <div *ngFor="let message of messages; let i = index" class="right-msg">
            <p *ngIf="user._id != message.SenderUserId" class="txt">{{message.Message}}</p>
            <!-- <p class="time">wed | 14:00</p> -->
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
 
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <div class="typ-sect">
          <div class="typing" [formGroup]="messageForm">
              <input type="text" class="mt30 mb20" placeholder="write here" class="custom-input1" formControlName="message"/>
          </div>
          <label class="circle green-circle" (click)=sendMessage()>
            <p>
              <ion-icon name="md-send"></ion-icon>
            </p>
          </label>     
    </div>
  </ion-toolbar>
</ion-footer>
