<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding>
  <h2 class="primary-heading mt15 ">Followers</h2>
  <div class="loader makeCenter" *ngIf="loader">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div class="not-found makeCenter" *ngIf="followersList && !followersList.length && !loader">
    <p>No Followers</p>
  </div>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <ion-list>
            <ion-item  class="custom-input">
              <ion-label>Choose follower to chat</ion-label>
              <!-- <ion-select (cancel)="onCancel()" (ionChange)="subCategory(contributionForm.value.subcategories)">
                <ion-option *ngFor="let preferences of slectedCategory.SubCategories; let i = index" [value]="preferences.SubCategory">{{preferences.SubCategory}} ></ion-option>
              </ion-select> -->
            </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
