<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding>
  <h2 class="primary-heading mt15 ">Followers</h2>
  <div class="loader makeCenter" *ngIf="loading.getFollower">
      <ion-spinner name="bubbles"></ion-spinner>
      
  </div>
  <div class="not-found makeCenter" *ngIf="!followersList && !followersList.length && !loading.getFollower">
    <p>No Followers</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
          <ion-list *ngIf="followersList && followersList.length && !loading.getFollower">
            <ion-item  class="custom-input">
              <ion-label>Choose follower to chat</ion-label>
              <ion-select (cancel)="onCancel()" [(ngModel)]="followerId">
                <ion-option *ngFor="let follower of followersList; let i = index" [value]="follower._id">{{follower.FullName}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <div>
            <ion-list class="loader makeCenter" *ngIf="loading.sendMsg">
                <ion-spinner name="bubbles"></ion-spinner>
            </ion-list>
        </div>
      <div class="typ-sect">
          <div class="typing" [formGroup]="messageForm">
              <input type="text" class="mt30 mb20" placeholder="write here" class="custom-input1" formControlName="message"/>
          </div>
          <label class="circle green-circle" [class.disabledLabel]="messageForm.invalid || !followerId" (click)="sendMessage()">
            <p>
              <ion-icon name="md-send"></ion-icon>
            </p>
          </label>     
      </div>
    </ion-toolbar>
  </ion-footer>