<header></header>

<ion-content padding>
    <h2 class="primary-heading mt15 ">Feed</h2>
    <div class="loader makeCenter" *ngIf="loaders.feedLoader">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div class="loader makeCenter" *ngIf="!loaders.feedLoader && !userContributions.length">
        <p>No Feeds Found</p>
    </div>
    <div *ngIf="!loaders.feedLoader && userContributions && userContributions.length">
        <ion-grid *ngFor="let contributions of userContributions">
            <ion-row>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <div class="feed-th">
                  <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                    <p class="b-bot"></p>
                  </ion-col>
                  <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8>
                    <h2 class="lh16" *ngIf="contributions[0]">{{contributions[0].UserFullName}} has {{contributions.length}} contributions</h2>
                  </ion-col>
                  <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                    <p class="b-bot"></p>
                  </ion-col>
                </div>
              </ion-col>
    
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                  <ion-card *ngFor="let contribution of contributions">
    
                      <ion-item>
                        <ion-avatar item-start>
                          <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                          <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
                        </ion-avatar>
                        <h2>{{contribution.UserFullName}}</h2>
                        <p>{{contribution.bio}}</p>
                      </ion-item>
                      <!-- <ion-item class="action-icons"> 
                        <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
                        <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
                        <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>
              
                      </ion-item> -->
                    
                      <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage" (click)="openDetails(contribution._id)">
                      <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png" (click)="openDetails(contribution._id)"> 
                    
                      <ion-card-content>
                        <div class="custom-titl">
                          <h4>{{contribution.Title}}</h4>
                        </div>
                        <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
                        <div class="red-text">
                          <a ion-button clear small (click)="openDetails(contribution._id)" class="makeRed left-align">View Detail</a>
                        </div>
                    </ion-card-content>
                      <ion-row>
                         
                          <ion-col class="makeCenter">
                            <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                                <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                              <div>{{contribution.Likes}} {{contribution.Likes < 2?'Like':'Likes'}}</div>
                            </button>
                            <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                                <ion-icon name="heart"></ion-icon>  
                              <div>{{contribution.Likes}} Unlike</div>
                            </button>
                          </ion-col>
                          <ion-col class="makeCenter">
                              <button ion-button icon-start clear small>
                                  <ion-icon name="text"></ion-icon>
                                  <div *ngIf="contribution.social">{{contribution.social.Comments.length}}<span class="ml5">{{contribution.social.Comments.length  < 2? 'Comment': 'Comments'}}</span></div>
                                </button>
                          </ion-col>
                        </ion-row>
                    </ion-card>
              </ion-col>

            </ion-row>
          </ion-grid>
    </div>
    <div class="contributions-list">
        <h2 class="primary-heading mt15 ">Suggested Contributions</h2>
        <div class="loader makeCenter" *ngIf="loaders.suggestionLoader">
            <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="not-found makeCenter" *ngIf="suggestedContribution && !suggestedContribution.length && !loaders.suggestionLoader">
          <p>Not Found</p>
        </div>
        <div class="contribution-data" *ngIf="suggestedContribution && suggestedContribution.length && !loaders.suggestionLoader">
        <ion-card *ngFor="let contribution of suggestedContribution">
    
            <ion-item>
              <ion-avatar item-start>
                <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
              </ion-avatar>
              <h2>{{contribution.UserFullName}}</h2>
              <p>{{contribution.bio}}</p>
            </ion-item>
            <!-- <ion-item class="action-icons"> 
              <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
              <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
              <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>
    
            </ion-item> -->
          
            <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage" (click)="openDetails(contribution._id)">
            <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png" (click)="openDetails(contribution._id)">
          
            <ion-card-content>
              <div class="custom-titl">
                <h4>{{contribution.Title}}</h4>
              </div>
              <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
              <div class="red-text">
                <a ion-button clear small (click)="openDetails(contribution._id)" class="left-align">View Detail</a>
              </div>
          </ion-card-content>
            <ion-row>
               
                <ion-col class="makeCenter">
                  <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                      <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                    <div>{{contribution.Likes}} {{contribution.Likes < 2?'Like':'Likes'}}</div>
                  </button>
                  <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                      <ion-icon name="heart"></ion-icon>  
                    <div>{{contribution.Likes}} Unlike</div>
                  </button>
                </ion-col>
                <ion-col class="makeCenter">
                    <button ion-button icon-start clear small>
                        <ion-icon name="text"></ion-icon>
                        <div *ngIf="contribution.social">{{contribution.social.Comments.length}} <span class="ml5">{{contribution.social.Comments.length  < 2? 'Comment': 'Comments'}}</span></div>
                      </button>
                </ion-col>
              </ion-row>
          
          </ion-card>
        </div>
    
      </div>


</ion-content>