page-user-profile {
    .circles{
        h6{
            font-size: 11px;
            padding: 0px 5px;
        }
    }
    .profile-chooser{
      margin-top: 10px;
    }
    .user-description{
      .username{
        margin-bottom: 0px !important;
      }
    }
}
