<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-navbar>
    <ion-title>user-profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <div class="top-content makeCenter pt15">
        <div class="image profile-viewer">
          <img src="../../../assets/imgs/app-logo.svg" alt="app-logo">
        </div>
        <div class="tagline">
         <p> Edit/Complete your profile</p>
        </div>

      </div> -->
      <div class="user-page">
          <ion-list>

              <ion-item class="mt30">
                <div class="user-info makeCenter">
                  <div class="profile-chooser">
                      <img *ngIf="!profileImage" src="../../assets/imgs/avatar.png" alt="" class="profileImage">
                      <img *ngIf="profileImage" [src]="domSanitizer.bypassSecurityTrustUrl('')" alt="" class="profileImage">
                  </div>
                  <div class="user-description">
                      <p class="username">Test</p>
                      <p class="bio"> Edit/Complete your profile</p>
                  </div>

                  <ion-grid>
                      <ion-row>
                        <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                          <div class="circle purple-circle">
                            <p>0</p>
                            <h6>abc</h6>
                          </div>
                        </ion-col>
                        <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                            <div class="circle blue-circle">
                                     <p>0</p>
                            <h6>abc</h6>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                            <div class="circle yellow-circle">
                                     <p>0</p>
                            <h6>abc</h6>
                            </div>
                          </ion-col>
                          <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                              <div class="circle red-circle">
                                       <p>0</p>
                            <h6>abc</h6>
                              </div>
                            </ion-col>
                      </ion-row>
                    </ion-grid>

                    <button class="primary-blue-button">Create Your Contribution</button>
                </div>
                </ion-item>
<!-- <ion-slides pager>

  <ion-slide style="background-color: green">
    <h2>Slide 1</h2>
  </ion-slide>

  <ion-slide style="background-color: blue">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>

</ion-slides> -->
                <div class="contributions-list">
                  <h2 class="primary-heading mt15 ">Contributions</h2>

                  <ion-card>

                      <ion-item>
                        <ion-avatar item-start>
                          <img src="../../assets/imgs/avatar.png">
                        </ion-avatar>
                        <h2>Marty McFly</h2>
                        <p>November 5, 1955</p>
                      </ion-item>
                      <ion-item class="action-icons"> 
                          <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
                          <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
                          <ion-icon class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>

                        </ion-item>
                    
                      <img src="../../assets/imgs/avatar.png">
                    
                      <ion-card-content>
                        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                      </ion-card-content>
                      <ion-row>
                        <ion-col>
                          <a ion-button icon-start clear small color="primary">View Detail</a>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                            <button ion-button icon-start clear small>
                                <ion-icon name="heart"></ion-icon>  
                              <div>0 Likes</div>
                            </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-start clear small>
                              <ion-icon name="text"></ion-icon>
                              <div>0 Comments</div>
                            </button>
                          </ion-col>
                        </ion-row>
                    
                    </ion-card>

                </div>
        
            </ion-list>
      </div>

</ion-content>
