<ion-list>
  <div *ngIf="userMessageNotication && userMessageNotication.length && !loading">
      <ion-item (click)="viewAllMessages()" *ngFor="let notification of userMessageNotication; let i = index" [ngClass]="(notification.User1ID == user._id && notification.User1ChatStatus) || (notification.User2ID == user._id && notification.User2ChatStatus)? 'unread': 'read'" >
          <ion-avatar item-start>
              <img *ngIf="user._id == notification.User1ID" [src]="notification.User2ProfilePicture" alt="User Avatar" class="img-circle">
              <img *ngIf="user._id == notification.User2ID" [src]="notification.User1ProfilePicture" alt="User Avatar" class="img-circle">
          </ion-avatar>
          <h2 *ngIf="user._id == notification.User1ID">{{notification.User2UserName}}</h2> 
          <h2 *ngIf="user._id == notification.User2ID">{{notification.User1UserName}}</h2>
      
          <p>{{notification.message}}</p>
        </ion-item>
  </div>
  </ion-list>
  <div class="makeCenter">
    <ion-list *ngIf="loading">
        <p>Loading...</p>
    </ion-list>
    <ion-grid>
        <ion-row *ngIf="!userMessageNotication">
            <ion-col col-6>
                <p class="pt15">No Messages</p>
            </ion-col>
            <ion-col col-6 class="custom-fab" >
                <button ion-fab mini (click)="newChat()">
                    <ion-icon name="ios-chatboxes"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="userMessageNotication">
        <a class="custon-anchor" href="#"  (click)="viewAllMessages()">View All</a>
    </div>
  </div>
    