<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding>
  <div class="home-content makeCenter">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          <h1>BE<p id="typed"></p></h1>
          
          <p>
            <span class="blue-boldline"></span>
            <span class="yellow-boldline"></span>
            <span class="red-boldline"></span>
          </p>
          <p class="p1">
            Impacting Young People to Be the Best Version of Themselves
          </p>
          <div class="cover-btn">
            <span *ngIf="!user">
              <button class="red-btn">
                SIGN UP
              </button>
            </span>
            <span>
              <button class="blue-btn" (click)="showEvents()">
                EVENTS
              </button>
            </span>
          </div>
        </ion-col>

        <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          <div class="whitebox">
            <h3 class="blue-text">About Cliiimb</h3>
            <span class="blue-boldline"></span>
            <p>Cliiimb, is a movement based on our belief that a community’s future sustainability will emerge by
              leveraging the power of our collective efforts to develop, empower, support and guide our young people.
            </p>
            <div class="about-btn">
              <span>
                <button class="blue-btn">
                  LEARN MORE
                </button>
              </span>
              <span>
                <button class="yellow-btn">
                  WATCH FILM
                </button>
              </span>
            </div>
          </div>
        </ion-col>

        <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          <div class="whitebox">
            <h3 class="yellow-text">Become a Contributer</h3>
            <span class="yellow-boldline"></span>
            <p>This document is designed to inform and manage the expectations of the people who submit contributions
              to Cliiimb. There’s a lengthy, robust, and methodical process for how we handle contributor submissions,
              and that process is detailed below. </p>
            <span  *ngIf="!user">
              <button class="yellow-btn">
                REGISTER NOW
              </button>
            </span>
          </div>
        </ion-col>

        <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          <div class="whitebox div-height">
            <h3 class="red-text">How We Protect You</h3>
            <span class="red-boldline"></span>
            <p>Message to parents of how we will protect them - The flow of the system of how it will protect and
              manage younger members under the age of 18 </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="loader makeCenter" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </ion-list>
  <ion-list class="loader makeCenter" *ngIf="!loading && !sortedContributions.length">
    <p>No Contributions Exist</p>
  </ion-list>
  <ion-list *ngIf="!loading && sortedContributions.length">
    <h2 class="primary-heading mt15 ">My Contributions</h2>
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select [(ngModel)]="maincategory" (ionChange)="sortContributions(maincategory)">
        <ion-option *ngFor="let catName of categories" [value]="catName.name">{{catName.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let contribution of sortedContributions">
        <ion-card>
          <ion-grid>
              <ion-row>
                  <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8>
                    <div class="custom-titl">
                      <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                      <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
                      <div class="mt12">
                          <h2>{{contribution.UserFullName}}</h2>
                          <p>{{contribution.bio}}</p>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                      <button class="follow-btn f-right" (click)="addMentor(contribution.UserID,user.Age,contribution)" *ngIf="user &&!contribution.hasFollowing && user._id != contribution.UserID  && contribution.userType!='admin'">
                          FOLLOW
                        </button> 
                      <button class="follow-btn blue-icon f-right" (click)="unFollowMentor(contribution.UserID, contribution)" *ngIf="user && contribution.hasFollowing && user._id != contribution.UserID && contribution.isAllowed">
                        UNFOLLOW
                      </button>
                      <button class="follow-btn orange-icon f-right" *ngIf="user && contribution.hasFollowing && user._id != contribution.UserID && !contribution.isAllowed">
                        PENDING
                      </button> 
                  </ion-col>
              </ion-row>
          </ion-grid>
           
          <!-- <ion-item class="action-icons"> 
            <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
            <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
            <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>
          </ion-item> -->

          <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage">
          <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png">

          <ion-card-content>
              <ion-grid>
                  <ion-row>
                      <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9>
                        <div class="custom-titl">
                          <h4>{{contribution.Title}}</h4>
                        </div>
                      </ion-col>
                      <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                          <ion-icon name="ios-eye"></ion-icon>{{contribution.ViewCount}} Views
                      </ion-col>
                  </ion-row>
              </ion-grid>
               
              

            <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
            <div class="red-text">
              <a ion-button clear small (click)="openDetails(contribution._id)" class="left-align">View Detail</a>
            </div>
          </ion-card-content>
          <ion-row>

            <ion-col class="makeCenter">
              <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                <div>{{contribution.Likes}} Likes</div>
              </button>
              <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                <ion-icon name="heart"></ion-icon>
                <div>{{contribution.Likes}} Unlike</div>
              </button>
            </ion-col>
            <ion-col class="makeCenter">
              <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                <div *ngIf="contribution.social">{{contribution.social.Comments.length}}Comments</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="makeCenter signup-txt"  *ngIf="!user">
    <a href="">Don't have and account? Sign Up Here</a>
  </div>
</ion-content>
