<!--
  Generated template for the ParentActivityLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content>
      <div class="parent-activity makeCenter">
        <div class="img-content">
          <img style="width: 120px;height: 120px" src="../../../assets/imgs/user.png" alt="app-logo">
          <h2>John Doe</h2>
          <p> test</p>
        </div>
      
        <div class="actvity-circle">
          <p>0</p>
          <h3>ACTIVITIES</h3>
        </div>
        <div class="loader makeCenter" *ngIf="loading">
            <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div *ngFor="let approves of approvalList; let i = index">
            <ion-list *ngFor="let followerList of approves.Follower" >
                <ion-item no-lines>
                  <ion-avatar item-start>
                    <img *ngIf="approves.ProfilePicture" [src]="approves.ProfilePicture">
                    <img *ngIf="!approves.ProfilePicture" src="../../assets/imgs/avatar.png">
                  </ion-avatar>
                  <h2>{{approves.FollowerName}}</h2>
                  <h3>{{approves.FollowerName}} has requested to follow {{followerList.FollowerName}}</h3>
                </ion-item>
                
                <ion-item class="btn-group">
                    <ion-grid>
                        <ion-row>
                          <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                            <button class="approve-btn" ion-button small color="secondary" icon-start
                            [disabled]="followerList.ParentStatus"
                            (click)="changeParentStatus(approves.UserID,followerList.Followid, followerList)"
                            >
                              Approve Follower
                            </button>      
                          </ion-col>
                          <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                            <button class="view-btn" ion-button small icon-start
                            [disabled]="followerList.MessageStatus"
                            (click)="changeMessageStatus(approves.UserID,followerList.Followid, followerList)"
                            >
                              Approve Message
                            </button>  
                          </ion-col>
                          <!-- <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                            <button class="reject-btn" ion-button small icon-start>
                              Reject
                            </button>  
                          </ion-col> -->
                        </ion-row>
                      </ion-grid>
                </ion-item>
              </ion-list>
        </div>
      </div>
     
</ion-content>
