page-create-contribution {
    .foldings{
        width: 100%;
        hr{
            border-top: 1px solid #197CC6
        }
        .red-btn{
            .v-icon{
                margin: 0px 10px  0px 0px;
            }
        }
    }
}
