
<header></header>

<ion-content padding>
    <h2 class="primary-heading mt15 ">Messages</h2>
    <!-- <div class="btn-align">
        <button class="chat-btn" (click)="newChat()">
            <ion-icon class="chat" name="ios-chatbubbles"></ion-icon>New Chat
        </button> 
    </div> -->
    <div *ngIf="userMessageNotication && userMessageNotication.length">
        <ion-list no-lines *ngFor="let messages of userMessageNotication; let i = index" [ngClass]="(messages.User1ID == user._id && messages.User1ChatStatus) || (messages.User2ID == user._id && messages.User2ChatStatus)? 'unread': 'read'" (click)="openMessage(messages)" >
          <div class="b-bot">
              <ion-item >
                <ion-avatar item-start>
                    <img *ngIf="user._id == messages.User1ID" [src]="messages.User2ProfilePicture" alt="User Avatar" class="img-circle">
                    <img *ngIf="user._id == messages.User2ID" [src]="messages.User1ProfilePicture" alt="User Avatar" class="img-circle">
                </ion-avatar>
                <h2 *ngIf="user._id == messages.User1ID">{{messages.User2UserName}}</h2> 
                <h2 *ngIf="user._id == messages.User2ID">{{messages.User1UserName}}</h2>
            
                <p>has message for you.</p>
                <!-- <ion-note item-end class="time">3:43 pm | Nov 9</ion-note> -->
              </ion-item>
          </div>
        </ion-list>
    </div>
    <ion-list *ngIf="!userMessageNotication">
        <p>Not Found</p>
      </ion-list>
      <ion-list *ngIf="loading">
          <p>Loading...</p>
        </ion-list>
</ion-content>
