page-message-list {
    .time{
        font-size: 12px;
        color: $primary-color;
        position: relative;
        top: -10px;
    }
    .b-bot{
        padding: 10px 0px;
    }
    .chat{
        margin: 0px 5px 0px 0px;
    }
}
