// http://ionicframework.com/docs/theming/
@import './theme/variables.scss';

@font-face {
    font-family: 'Brandon_reg';
    src: url(../assets/fonts/Brandon_reg.otf);
}

@font-face {
    font-family: 'Brandon_med';
    src: url(../assets/fonts/Brandon_med.otf);
}
@font-face {
    font-family: 'Brandon_blk';
    src: url(../assets/fonts/Brandon_blk.otf);
}

@font-face {
    font-family: 'Brandon_med_it';
    src: url(../assets/fonts/Brandon_med_it.otf);
}

@font-face {
    font-family: 'Brandon_bld';
    src: url(../assets/fonts/Brandon_bld.otf);
}
@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-list.sideMenu {
    .item-inner {
        border: none !important;
     .input-wrapper {
         text-transform:uppercase;
     }
    }

    .makeRed {
        color: $primary-color;
    }
}
.sideMenu-header {
    color: $primary-color;
    div.toolbar-content {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        display: grid;
        grid-template-columns: 60% auto;
        align-items: center;
        justify-content: end;
        // .toolbar-title {
        //     color: $primary-color;
        // }
        img {
            width: 100px;

        }
    }
    .close-icon {
        margin-right: 15px;
    }

    .toolbar-background {
        background: transparent;
    }
    &:after {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #f00;
    }

}

ion-header {
    &:after {
        display: none;
    }
}

.makeCenter {
text-align: center;
}
.ml5{
    margin-left: 5px;
}
.pt15 {
    padding-top: 15px;
}
.pt30 {
    padding-top: 30px;
}
.mt15 {
    margin-top: 15px !important;
}
.mt12{
    margin-top: 10px !important;
}

.mt30 {
    margin-top: 30px;
}
.mt50 {
    margin-top: 80px;
}
 .mb20{
    margin-bottom: 20px;
 }
 .mb15{
    margin-bottom: 15px;
 }
 .ml15{
    margin-left: 15px;
 }
.mr5{
    margin-right: 5px;
}
 .mt10 {
    margin-top: 10px !important;
 }
.sh12{
    font-size:12px;
}
.mh14{
    font-size:14px;
}
.lh16{
    font-size:16px;
}
.xlh18{
    font-size: 18px;
}
 .separator {
    border: 1px solid $light-grey;
    width: 130px;
    margin: 0 auto;
 }
.cliiimb-btn-primary {
    height: 50px;
    background: $primary-color;
    text-transform: uppercase;
    border-radius: 7px;
}

.custom-input {
    border: 1px solid $light-grey;
    border-radius: 7px;
    width: 100%;
}
.custom-input1 {
    border: 1px solid $light-grey;
    border-radius: 7px;
    padding: 12px;
    width: 100%;
}
.custom-label {
    font-size: 15px;
    font-weight: 700;
}

.makeRed {
    font-family: 'Brandon_med';
    color: $primary-color;
    a {
        color: $primary-color;
        text-decoration: none;
        text-transform: capitalize;
    }
}
.txt{
    display: inline-block;
    padding: 10px; 
}
.time{
    font-size: 10px;
    color: $medium-gray;
    position: relative;
    top: -10px;
}
.makeBlock {
    display: block;
}

.top-content {
    .image {
        img {
            width: 50%;
        }
    }

    .tagline {
        position: relative;
        p {
            color: $grey-color;
            font-family: 'Brandon_med';
            font-size: 17px;
            margin: 0;
        
        }
        &:after {
            content: "";
            border-bottom: 1px solid $light-grey;
            position: absolute;

            left: 0;

            right: 0;
            width: 130px;
            z-index: 999999;
            margin: 0 auto;
            margin-top: 9px;
        }
    }
}

.toolbar-background-md {
    background: $white;

}
.title-md {
    text-align: center;
}
div.toolbar-title {
    img {
        width: 140px !important;
    }
}

.bar-button-default-md {
    color: $primary-blue;
}
.makeCenter {
    text-align: center;
}

.profile-chooser {
    border: 1px solid $light-grey;;
    /* margin-top: 41px; */
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


    ion-icon {
        color: $primary-color;
    }

    .profileImage {
        border-radius: 50%;
        width: 80px !important;
        height: 80px !important;
    }
}

.user-info{
    .user-description {
        p {
           
            font-family: 'Brandon_med';
            font-size: 17px;
            margin: 0;
        }

        .bio {
            color: $grey-color;
        }

        .username {
            color: $black;
        }
    }

    &:after {
        content: "";
        border-bottom: 1px solid $light-grey;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 999999;
        margin: 0 auto;
        margin-top: 9px;
    }
}

.circle {
    text-align: center;
    p {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        margin: 0 auto;
    }

    h6 {
        white-space: normal;
    }
}

.purple-circle{
    p {
        background: $purple;
    }
}
.yellow-circle{
    p {
        background: $yellow;
    }
}
.blue-circle{

    p {
        background: $primary-blue;

    }
}
.red-circle{
    p {
        background: $primary-color;
    }
}
.green-circle{
    p {
        background: $green;
    }
}
.b-bot{
    border-bottom: 1px solid #eee;
}
.primary-blue-button{
    padding: 14px;
    background: $primary-blue;
    color: $white;
    font-family: 'Brandon_med';
}

.primary-heading{
    font-family: 'AbrilFatface-Regular';
    color: $heading;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.action-icons {
    ion-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ion-icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            margin: 3px;
            &:before {
                font-size: 16px;
            }
        }

        .volume-icon {
            background: #516CEF;
        }

        .play-icon {
            background: $primary-color;
        }

        .menu-icon {
            background: $black;
        }
    }

}
.link1{
     color: #337ab7;
     padding: 5px;
}
.invalid-feedback {
    color: #f00;
    display: block;
}
.custon-anchor{
    padding: 10px 20px;
    font-size: 16px;
}
.tooltip_vector{
    width: 30px;
    height: 30px;
    margin: 0px auto;
}
.f-right{
    float: right;
}
.f-left{
    float: left;
}

.icon-bg{
    background: #F9FAFC;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
    color: #ED1B24;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.tool-buckt{
    text-align: center;
    p{
        color: $black;
        font-size: $p2;
    }
}
.custom-titl{
    display: flex;
    img{
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin: 5px 5px 0px 10px;
        display: block;
    }
    h4{
        font-weight: bold;
        font-size: 1.5rem;
    }
    h2{
        font-size: 2rem;
    }
}
ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: $primary-color;
  }

  .scroll-content {
    margin-top: 50px;
  }

  .fixed-content {
    margin-top: 50px;
  }
  .popover-md .popover-content {
    width: 83% !important;
    margin-top: 45px !important;
}
ion-spinner {
    * {
      stroke: red;
    }
    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: red;
    }
  }
button:focus {
    outline: 0 !important;
}
.follow-btn{
    color: #fff !important;
    background: #516CF1;
    border: 1px solid #516CF1;
    font-size: 13px !important;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px 10px;
}
.chat-btn{
    background: #F67823;
    border: 1px solid #F67823;
    padding: 8px 30px;
    border-radius: 20px;
    color: #fff !important;
    font-size: 13px;
}
.btn-align{
    text-align: center;
    width: 100%;
}
.btn-group{
    width: 100%;
    .red-btn,.blue-btn,.yellow-btn{
        width: 100%;
    }
    .blue-btn{
        .draft-icon{
            margin-right: 5px;
            font-weight: 700;
            font-size: 1.3em !important;
        }
    }
}
.red-btn{
    cursor: pointer;
    background-color: #F3151E;
    padding: 10px;
    margin: 5px 0px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.blue-btn{
    cursor: pointer;
    background-color: #0E76BD;
    padding: 8px 10px;
    margin: 5px 0px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.yellow-btn{
    cursor: pointer;
    background-color: #FBAB18;
    padding: 10px;
    margin: 5px 0px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.popover-md .popover-viewport {
    max-height: 300px !important;
    min-height: 100px !important;
}
.contribution-detail-content {
    height: 87px;
    overflow: hidden;

}



.cover-image {
    // height: 330px;
    // overflow: hidden;
    height: auto;
    overflow: hidden;
}
.blue-text {
    color: #0E76BD;
}
.yellow-text {
    color: #FBAB18;
}
.red-text {
    color: #F3151E;

}

.orange-icon {
    background: #FBAB18;
    border: none !important;
}

.red-icon {
    background: #F3151E;
    border: none !important;
}

.blue-icon {
    background: #0E76BD;
    border: none !important;
}

// for tooltip only
.v1{
    .tooltip{
        width: 198px;
        top: -5px;
        left: -80px;
    }
}
.v2{
    .tooltip{
        width: 100px;
        top: 97px;
        left: 66px;
    }
}
// for tooltip only

// for message section
.msg-section{
    overflow: scroll;
    height: auto;
    margin-top: 50px;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    .left-msg{
        .txt{
            background: $primary-blue;
            border-radius:10px 10px 10px 0px;
        }
        .time{
        }
    }
    .right-msg{
        text-align: right;
        .txt{
            background: $primary-color;
            border-radius: 10px 10px 0px 10px;
        }
        .time{
            top: -10px;
        }
    }
}   
.typ-sect{
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 30px 10px 20px 20px;
    .typing{
        color: #000;
    }
}
.completed-check {
    .check-click {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #3BC730;
        color: #fff;
        font-size: 36px;
        text-align: center;
        padding-top: 25px;
        margin: auto;
        margin-bottom: 20px;
    }
    .times-click {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: red;
        color: #fff;
        font-size: 36px;
        text-align: center;
        padding-top: 25px;
        margin: auto;
        margin-bottom: 20px;
    }

    img {
        width: 150px;
        margin-bottom: 20px;
    }
}
.img-upload{
    position: relative;
    .delete-icon{
        position: absolute;
        top: 5px;
        right: 15px;
        padding: 4px 9px 2px 9px;
        font-size:1.4em; 
        border-radius: 50%;
        color: red;
        background: #fff;
    }
}
.edit-icon{
    margin-top:7px; 
    background: red !important;
    border-radius: 50%;
    padding: 7px 8px;    
    float: right;
    margin-right: 10px;
    color: #fff;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space:nowrap; 
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label i {
    font-size: 22px;
    color:#fff;
}
.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}
.inputfile-4 + label figure {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
}
.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}
.bold{
    font-weight: bold;
}
#ion-diagnostics-toast {
    background: transparent !important;
}

