<ion-header class="custom-nav">
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar  
        [(ngModel)]="query" class="custom-search"
        *ngIf="showSearch"
        [showCancelButton]="true"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)"
        (search)="searchByKeyword($event)"
        >
        </ion-searchbar>
        <span class="custom-search" *ngIf="!showSearch" (click)="showSearch = !showSearch"><i class="fas fa-search" ></i></span>
        <!-- <ion-icon class="custom-search" md="md-search" *ngIf="!showSearch" (click)="showSearch = !showSearch"></ion-icon> -->

        <ion-buttons start="" *ngIf="!showSearch" >
          <div class="nav-content">
            <button ion-button="" class="disable-hover"  (click)="messagePopover($event)">
              <ion-icon><i class="fas fa-envelope-open"></i></ion-icon>
              <div class="button-effect"></div>
            </button>
            <button ion-button="" class="disable-hover" (click)="notificationPopover($event)">
              <ion-icon><i class="fas fa-bell"></i></ion-icon>
              <div class="button-effect"></div>
            </button>
          </div>
        </ion-buttons>
        
        <ion-buttons end="" class="bar-buttons bar-buttons-ios">
          <div class="nav-dp">
            <button ion-button icon-only (click)="userPopover($event)">
              <img class="tooltip_vector" *ngIf="user && user.ProfilePicture" [src]="user.ProfilePicture" alt="">
              <img class="tooltip_vector" *ngIf="!user.ProfilePicture" src="../../assets/imgs/avatar.png" alt="">
              <ion-icon class="nav-arrow" name="ios-arrow-down"></ion-icon>
            </button>
          </div>
        </ion-buttons>
    </ion-navbar>
  </ion-header>