<!--
  Generated template for the PreferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content padding>
  <div class="preferences">
      <div class="b-bot">
        <h2 class="primary-heading">Preferences</h2>
      </div>
  
      <h2 class="xlh18">Selected preferences</h2>
      <div class="b-bot btn-align" >
        <label *ngFor="let pref of userPreferences; let i = index" class="red-btn" full>
          {{pref.SubCategory}}
            <span class="ms" (click)="removePreference(index)"><ion-icon ios="ios-close" md="md-close"></ion-icon></span>
        </label>
      </div>

      <div class="pref-slect">
        <div class="select1">
            <h2 class="xlh18">Select Category</h2>
            <!-- <h3 class="mh14 blue-text">Selected Category:{{mainCategorys}}</h3> -->
              <ion-list>
                <ion-item class="custom-input">
                  <ion-label class="pref-labl">Select Category</ion-label>
                  <ion-icon class="arrow-left" name="ios-arrow-round-forward" md="md-arrow-round-forward"  item-left></ion-icon>
                  <ion-select [(ngModel)]="mainCategory" (cancel)="onCancel()" (ionChange)="change(mainCategory)">
                    <ion-option *ngFor="let preferences of preferencesData; let i = index" [value]="preferences.Category">{{preferences.Category}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
        </div>
        <div class="select1">
            <h2 class="xlh18">Sub Category</h2>
            <ion-list>
              <ion-item class="custom-input" *ngIf="subCategory">
                <ion-label class="pref-labl">Sub Category</ion-label>
                <ion-icon class="arrow-left" name="ios-arrow-round-forward" md="md-arrow-round-forward"  item-left></ion-icon>
                <ion-select [(ngModel)]="subCat" (cancel)="onCancel()" (ionChange)="selectSubCategory(subCat)" multiple="true">
                  <ion-option *ngFor="let subcat of subCategory; let i = index"[value]="subcat.SubCategory">{{subcat.SubCategory}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
        </div>
      </div>
     
      <div class="sub-btn">
          <button class="red-btn" (click)="savePreferences()" >
          Save & Continue
          </button>  
      </div>
  </div>
</ion-content>
