<!--
  Generated template for the SearchEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding>
<ion-grid padding>
    <ion-row class="event-cover">
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="cover-cont">
          <h1>Cliiimb Events </h1>
          <p>Filter the Events by Date, Location or Category</p>
        </div>
        <div class="container">
          <ion-grid  *ngIf="event" [formGroup]="event">
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
                    <p>Date</p>
                    <span class="event-icon"> <ion-icon name="ios-calendar"></ion-icon></span>
                    <input type="date" placeholder="" class="mt30 mb20" class="custom-input1" formControlName="date"/>
                  </ion-col>
      
                  <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
                    <p>Location</p>
                    <span class="event-icon"> <ion-icon name="ios-navigate"></ion-icon></span>
                    <input type="text" placeholder="Islamabad" class="mt30 mb20" class="custom-input1" formControlName="location"/>
                  </ion-col>
      
                  <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
                    <p>Category</p>
                    <ion-list>
                        <ion-item class="custom-input">
                          <ion-label class="red">Category</ion-label>
                          <ion-select formControlName="maincategory">
                              <ion-option *ngFor="let list of namesList" [value]="list.name">{{list.name}}</ion-option>
                            </ion-select>
                        </ion-item>
                      </ion-list>
                  </ion-col>
                  
                  <div class="btn-align">
                  <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3>
                      <button class="red-btn" [disabled]="event.invalid" (click)="(event.controls['date'].value ||event.controls['maincategory'].value || event.controls['location'].value)  && searchEvent()">
                          <ion-icon class="search" name="ios-search"></ion-icon>Search
                      </button>   
                  </ion-col>
                </div>

            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-list class="loader makeCenter" *ngIf="loading">
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-list>
      <ion-list class="loader makeCenter" *ngIf="!loading && !sortedEvents.length">
        <p>No Events Exist</p>
      </ion-list>
      <ion-list *ngIf="!loading && sortedEvents.length">
          <h2 class="primary-heading mt15 ">My Events</h2>
          <ion-item>
            <ion-label>Categories</ion-label>
            <ion-select [(ngModel)]="maincategory" (ionChange)="sortEvents(maincategory)">
              <ion-option *ngFor="let catName of categories" [value]="catName.name">{{catName.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
    
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let contribution of sortedEvents">
            <ion-card>
    
              <ion-item>
                <ion-avatar item-start>
                  <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                  <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
                </ion-avatar>
                <h2>{{contribution.UserFullName}}</h2>
                <p>{{contribution.bio}}</p>
              </ion-item>
              <!-- <ion-item class="action-icons"> 
                <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
                <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
                <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>
      
              </ion-item> -->
    
              <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage">
              <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png">
    
              <ion-card-content>
    
                  <ion-grid>
                      <ion-row>
                          <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9>
                            <div class="custom-titl">
                              <h4>{{contribution.Title}}</h4>
                            </div>
                          </ion-col>
                          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                            <ion-icon name="ios-eye"></ion-icon>{{contribution.ViewCount}} Views
                          </ion-col>
                      </ion-row>
                  </ion-grid>
    
                <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
                <a ion-button clear small (click)="openDetails(contribution._id)" class="makeRed left-align">View Detail</a>
    
              </ion-card-content>
              <ion-row>
    
                <ion-col class="makeCenter">
                  <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                    <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                    <div>{{contribution.Likes}} Likes</div>
                  </button>
                  <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                    <ion-icon name="heart"></ion-icon>
                    <div>{{contribution.Likes}} Unlike</div>
                  </button>
                </ion-col>
                <ion-col class="makeCenter">
                  <button ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                    <div *ngIf="contribution.social">{{contribution.social.Comments.length}}<span class="ml5">Comments</span></div>
                  </button>
                </ion-col>
              </ion-row>
    
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-content>