<header></header>

<ion-content padding>
    <h2 class="primary-heading mt15 ">My Mentors</h2>
    <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngIf="followersList && followersList.length && !loader">
            <ion-card class="mentor-card" *ngFor="let followers of followersList">
              <img [src]="followers.ProfilePicture"/>
              <ion-card-content>
                  <ion-row>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                      <div class="title">
                        <p>{{followers.FullName}}</p>
                        <button class="follow-btn" ion-button small color="secondary" icon-start>
                          Following
                        </button>       
                      </div>
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <div class="card-content">
                            <p class="primary-p1">Cliiimb's Contributor</p>
                            <p>({{followers.Bio}})</p>
                        </div>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-12 *ngIf="followersList && !followersList.length && !loader">
            <p>Not Found</p>
          </ion-col >
          <ion-col col-12 *ngIf="followersList && !followersList.length && loader">
              <div class="loader makeCenter">
                  <ion-spinner name="bubbles"></ion-spinner>
              </div>
            </ion-col >
          <!-- <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <ion-card>
                <img src="../../assets/imgs/avatar.png"/>
                <ion-card-content>
                    <ion-row>
                      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                        <div class="mentor-title">
                          <p>Jhon Doe</p>
                          <button class="follow-btn" ion-button small color="secondary" icon-start>
                            Following
                          </button>       
                        </div>
                      </ion-col>
                      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <div class="men-card-con">
                            <p class="primary-p1">Cliiimb's Contributor</p>
                            <p>(Sales & Marketing)</p>
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col> -->
        </ion-row>
      </ion-grid>
      
</ion-content>