<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="signup-details">
    <div class="inner-details">
        <div class="top-content makeCenter pt15">
            <div class="image">
              <img src="../../assets/imgs/app-logo.svg" alt="app-logo">
            </div>
            <div class="tagline">
             <p> Register with Cliiimb</p>
            </div>
  
          </div>
        <div class="signup-form" *ngIf="signupForm" [formGroup]="signupForm">
          <ion-list>
        
            <ion-item>
              <input type="text" value="" placeholder="Email" class="custom-input mt30" padding formControlName="email"/>
              <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)" class="invalid-feedback">
                  <div *ngIf="form.email.errors.required">Email is required</div>
                  <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
              </div>
            </ion-item>
        
            <ion-item>
              <input type="password" value="" placeholder="Password" class="custom-input mt30" padding formControlName="password"/>
              <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)" class="invalid-feedback">
                  <div *ngIf="form.password.errors.required">Password is required</div>
                  <div *ngIf="form.password.errors.minlength">Password Should be of minimum 8 characters</div>
              </div>
            </ion-item>

            <ion-item>
                <input type="password" value="" placeholder="Re-enter Password" class="custom-input mt30" padding formControlName="confirmpassword"/>
                <div *ngIf="form.confirmpassword.invalid && (form.confirmpassword.dirty || form.confirmpassword.touched)" class="invalid-feedback">
                    <div *ngIf="form.confirmpassword.errors.required">Password is required</div>
                    <div *ngIf="form.password.value!=form.confirmpassword.value" class="invalid-feedback">
                      Password doesn't match
                     </div>
                </div>
              </ion-item>
        
          </ion-list>
        
          <div padding>
            <button ion-button color="primary" class="cliiimb-btn-primary" block (click)="signup()" [disabled]="signupForm.invalid">Sign up</button>
          </div>
        </div>
      </div>

      <div class="makeRed">
        <p>Already have an account? <a (click)="openLoginPage()">Login in</a> </p>
      </div> 
  </ion-content>
  