<!--
  Generated template for the MyContributionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding>

  <div class="contributions-list">
      <h2 class="primary-heading mt15 ">Latest Contributions</h2>
      <div class="loader makeCenter" *ngIf="loading">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div class="not-found makeCenter" *ngIf="contributionsList && !contributionsList.length && !loading">
        <p>Not Found</p>
      </div>
      <div class="contribution-data" *ngIf="contributionsList && contributionsList.length && !loading">
      <ion-card *ngFor="let contribution of contributionsList">
  
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
              <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
            </ion-avatar>
            <h2>{{contribution.UserFullName}}</h2>
            <p>{{contribution.bio}}</p>
          </ion-item>
        
          <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage">
          <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png">
        
          <ion-card-content>
            <div class="custom-titl">
              <h4>{{contribution.Title}}</h4>
            </div>
            <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
            <div class="red-text">
              <a ion-button clear small (click)="openDetails(contribution._id)" class="left-align">View Detail</a>
            </div>
         
        </ion-card-content>
  
          <ion-row>
             
              <ion-col class="makeCenter">
                <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                    <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                  <div>{{contribution.Likes}} Likes</div>
                </button>
                <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                    <ion-icon name="heart"></ion-icon>  
                  <div>{{contribution.Likes}} Unlike</div>
                </button>
              </ion-col>
              <ion-col class="makeCenter">
                  <button ion-button icon-start clear small>
                      <ion-icon name="text"></ion-icon>
                      <div *ngIf="contribution.social">{{contribution.social.Comments.length}}<span class="ml5">Comments</span></div>
                    </button>
              </ion-col>
            </ion-row>
        
        </ion-card>
      </div>
  
    </div>

    <div class="contributions-list">
        <h2 class="primary-heading mt15 ">Pending Contributions</h2>
        <div class="loader makeCenter" *ngIf="loading">
            <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="not-found makeCenter" *ngIf="pendingList && !pendingList.length && !loading">
          <p>Not Found</p>
        </div>
        <div class="contribution-data" *ngIf="pendingList && pendingList.length && !loading">
        <ion-card *ngFor="let contribution of pendingList">
    
            <ion-item>
              <ion-avatar item-start>
                <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
              </ion-avatar>
              <h2>{{contribution.UserFullName}}</h2>
              <p>{{contribution.bio}}</p>
            </ion-item>
          
            <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage">
            <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png">
          
            <ion-card-content>
              <div class="custom-titl">
                <h4>{{contribution.Title}}</h4>
              </div>
              <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
              <div class="red-text">
                <!-- <a ion-button clear small (click)="openDetails(contribution._id)" class="left-align">View Detail</a> -->
              </div>
           
          </ion-card-content>
    
            <!-- <ion-row>
               
                <ion-col class="makeCenter">
                  <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                      <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                    <div>{{contribution.Likes}} Likes</div>
                  </button>
                  <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                      <ion-icon name="heart"></ion-icon>  
                    <div>{{contribution.Likes}} Unlike</div>
                  </button>
                </ion-col>
                <ion-col class="makeCenter">
                    <button ion-button icon-start clear small>
                        <ion-icon name="text"></ion-icon>
                        <div *ngIf="contribution.social">{{contribution.social.Comments.length}}Comments</div>
                      </button>
                </ion-col>
              </ion-row> -->
          
          </ion-card>
        </div>
    
      </div>

      <div class="contributions-list">
          <h2 class="primary-heading mt15 ">Drafted Contributions</h2>
          <div class="loader makeCenter" *ngIf="loading">
              <ion-spinner name="bubbles"></ion-spinner>
          </div>
          <div class="not-found makeCenter" *ngIf="draftedList && !draftedList.length && !loading">
            <p>Not Found</p>
          </div>
          <div class="contribution-data" *ngIf="draftedList && draftedList.length && !loading">
          <ion-card *ngFor="let contribution of draftedList">
            <ion-grid>
                <ion-row>
                  <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9>
                      <div class="custom-titl">
                          <img *ngIf="!contribution.UserProfilePicture" src="../../assets/imgs/avatar.png">
                          <img *ngIf="contribution.UserProfilePicture" [src]="contribution.UserProfilePicture">
                          <div class="mt12">
                              <h2>{{contribution.UserFullName}}</h2>
                              <p>{{contribution.bio}}</p>
                          </div>
                        </div>
                  </ion-col>
                  <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                    <span (click)="editContribution(contribution._id)">
                        <ion-icon name="create" class="edit-icon"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            
              <img *ngIf="contribution.Coverpage" [src]="contribution.Coverpage">
              <img *ngIf="!contribution.Coverpage" src="../../assets/imgs/avatar.png">
            
              <ion-card-content>
                  <div class="custom-titl">
                      <h4>{{contribution.Title}}</h4>
                    </div>
                <p class="contribution-detail-content" [innerHTML]="contribution.ContributionText"></p>
                <div class="red-text">
                  <a ion-button clear small (click)="openDetails(contribution._id)" class="left-align">View Detail</a>
                </div>
             
            </ion-card-content>
      
              <!-- <ion-row>
                 
                  <ion-col class="makeCenter">
                    <button ion-button icon-start clear small *ngIf="!contribution.isLiked" (click)="addLike(contribution,contribution._id)">
                        <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
                      <div>{{contribution.Likes}} Likes</div>
                    </button>
                    <button ion-button icon-start clear small *ngIf="contribution.isLiked" (click)="unLike(contribution,contribution._id)">
                        <ion-icon name="heart"></ion-icon>  
                      <div>{{contribution.Likes}} Unlike</div>
                    </button>
                  </ion-col>
                  <ion-col class="makeCenter">
                      <button ion-button icon-start clear small>
                          <ion-icon name="text"></ion-icon>
                          <div *ngIf="contribution.social">{{contribution.social.Comments.length}}Comments</div>
                        </button>
                  </ion-col>
                </ion-row> -->
            
            </ion-card>
          </div>
      
        </div>
</ion-content>
