<!--
  Generated template for the MyContributionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding>
  <div class="contributions-list">
    <h2 class="primary-heading mt15 ">My Events</h2>
    <div class="loader makeCenter" *ngIf="loading">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div class="not-found makeCenter" *ngIf="eventsList && !eventsList.length && !loading">
      <p>Not Found</p>
    </div>
    <div class="contribution-data" *ngIf="eventsList && eventsList.length && !loading">
    <ion-card *ngFor="let event of eventsList">

        <ion-item>
          <ion-avatar item-start>
            <img *ngIf="!event.UserProfilePicture" src="../../assets/imgs/avatar.png">
            <img *ngIf="event.UserProfilePicture" [src]="contribution.UserProfilePicture">
          </ion-avatar>
          <h2>{{event.UserFullName}}</h2>
          <p>{{event.bio}}</p>
        </ion-item>
        <!-- <ion-item class="action-icons"> 
          <ion-icon class="volume-icon" ios="ios-volume-up" md="md-volume-up"></ion-icon>
          <ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>
          <ion-icon (click)="presentPopover()" class="menu-icon" ios="ios-menu" md="md-menu"></ion-icon>

        </ion-item> -->
      
        <img *ngIf="event.Coverpage" [src]="event.Coverpage">
        <img *ngIf="!event.Coverpage" src="../../assets/imgs/avatar.png">
      
        <ion-card-content>
          <h4>{{event.Title}}</h4>
          <p [innerHTML]="event.ContributionText"></p>


          <a ion-button clear small (click)="openDetails()" class="makeRed left-align">View Detail</a>
       
      </ion-card-content>
        <ion-row>
           
            <ion-col class="makeCenter">
              <button ion-button icon-start clear small>
                  <ion-icon name="heart"></ion-icon>  
                <div>{{event.Likes}} Likes</div>
              </button>
            </ion-col>
            <ion-col class="makeCenter">
                <button ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                  </button>
            </ion-col>
          </ion-row>
      
      </ion-card>
    </div>

  </div>
</ion-content>
