
<ion-header>
    <ion-toolbar>
      <ion-title *ngIf="contribution.contributiontype=='contribution'">
        Contribution details
      </ion-title>
      <ion-title *ngIf="contribution.contributiontype=='event'">
        Event details
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <div class="contribution-detail">
        <ion-grid>
          <ion-row class="cont-back">
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-card-header class="modal-header">
                    <h5 class="modal-title" id=""><span class="fa fa-circle red-circle"></span>&nbsp; SPOTLIGHT - MEDIA</h5>
                </ion-card-header>
              </ion-col>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                  <div class="text-modal">  
                    <ion-grid>
                        <ion-row class="b-bot">
                            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                              <div class="custom-titl">
                                <img *ngIf="!contribution.userprofilepicture" src="../../assets/imgs/avatar.png">
                                <img *ngIf="contribution.userprofilepicture" [src]="contribution.userprofilepicture">
                                <div class="mt12">
                                    <h2>{{contribution.username || contribution.userfullname}}</h2>
                                </div>
                              </div>
                            </ion-col>
                            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                                <ion-list>
                                    <ion-item class="action-icons">
                                      <ion-icon *ngIf="contribution.audiopath" class="volume-icon" ios="ios-volume-up" md="md-volume-up" (click)="openFold('audio')" ></ion-icon>
                                      <ion-icon *ngIf="contribution.videos" class="play-icon" ios="ios-play" md="md-play" (click)="openFold('video')"></ion-icon>
                                      <ion-icon *ngIf="contribution.images[0]" class="img-icon" ios="ios-images" md="md-images" (click)="openFold('image')"></ion-icon>
                                    </ion-item>
                                  </ion-list>
                              </ion-col>
                        </ion-row>
                    </ion-grid> 
                    
                    <div class="slider-content">
                      <h3 [innerHTML]="contribution.title">DISCIPLINE TO GROW YOURSELF</h3>
                      <p [innerHTML]="contribution.contributiontext">DISCIPLINE! The 14th Ultimate 30-Minute Motivational Speech Compilation is here! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui. Maiores quas mollitia autem quisquam eum, quis numquam ducimus aperiam rerum veritatis nam dignissimos, doloremque amet excepturi possimus debitis aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio ut temporibus tempore excepturi, incidunt sunt reiciendis. Maiores magnam iusto, eius, quod distinctio voluptatum provident temporibus modi accusantium adipisci expedita!</p>
                    </div>
                  </div>
    
                  <div style="display: none" class="modal-video-view">
                    <ion-item class="mt30" no-lines>
                      <iframe style="width: 100%" class="embed-responsive-item" id="videoModal" [src]="contribution.videos | safe"></iframe>
                      <iframe  style="width: 100%" class="embed-responsive-item" id="videoModal"></iframe>
                    </ion-item>
                  </div>
    
                  <div style="display: none" class="modal-audio-view">
                    <ion-list>
                      <ion-item class="mt50" no-lines>
                        <h4 class="makeCenter">Audio</h4>
                        <audio controls style="width: 100%">
                            <source src="{{contribution.audiopath}}" type="audio/mpeg">
                              Your browser does not support the audio element.
                          </audio>
                      </ion-item>
                    </ion-list>
                  </div>
    
                  <div style="display: none" class="modal-gallery-view">
                      <ion-slides pager>
                          <ion-slide *ngFor="let slide of contribution.images; let i = index">
                              <img *ngIf="slide.imagestatus || slide.Imagestatus;else noData" [src]="slide.imagestatus || slide.Imagestatus">
                                <ng-template #noData>
                                  <img src="../../assets/imgs/avatar.png">
                                </ng-template>
                            <h4>{{slide.imagetitle || slide.ImageTitle}}</h4>
                            <p>{{slide.imagedescription || slide.ImageDescription}}</p>
                          </ion-slide>
                      </ion-slides>
                  </div>

                  <div style="display: none" class="modal-links-view">
                    <div class="item" *ngFor="let urls of contribution.website; let i = index">
                        <div class="thumbnail mythumbnail text-center itemThumbail">
                          <h4>{{urls.websitetitle || urls.WebsiteTitle}} </h4>
                          <a class="makeRed" [href]="urls.websiteurl || urls.Websiteurl" target="_blank">Visit this link</a>
                        </div>
                      </div>
                  </div>

              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
<ion-footer>
    <div class="cont-footer">
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center>
              <div class="folding">
                <a id="prev">
                  <span (click)="moveBackward(contribution.ModalValue)"><ion-icon name="arrow-round-back"></ion-icon></span>
                </a>  Fold {{current + 1 }}/{{contribution.ModalValue.length}} 
                <a id="next">
                  <span (click)="moveForward(contribution.ModalValue)"><ion-icon name="arrow-round-forward"></ion-icon></span>
                </a>
              </div>
          </ion-col>
        </ion-row>
    </div>
</ion-footer>