<!--
  Generated template for the CreateContributionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>

<ion-content *ngIf="!user.MentorStatus">
  <div class="makeCenter mt50 completed-check">
    <img src="../../assets/imgs/app-logo.svg" alt="" srcset="">
      <div class="times-click">
          <span class="fa fa-times"></span>
       </div>
       <p>Sorry! You are not allowed to perform this action unless you are a Super Contributor and Mentor.</p>
  </div>
</ion-content>
<ion-content padding *ngIf="user.MentorStatus">
  <h2 class="primary-heading mt15 ">Create an Event</h2>
   <!-- Segment buttons with text -->
   
   <ion-segment  color="primary" [(ngModel)]="contribution_action" [ngModelOptions]="{standalone: true}">
    <ion-segment-button value="content">
      Create Content
    </ion-segment-button>
    <ion-segment-button value="cover-image" [disabled]="(!contributionForm.controls['title'].value || !contributionForm.controls['contributiontext'].value) && (contributionForm.controls['title'].invalid || contributionForm.controls['contributiontext'].invalid)">
      Cover Image
    </ion-segment-button>

    <ion-segment-button value="submit" [disabled]="contributionForm.controls['coverpage'].value">
      Submit
    </ion-segment-button>
  </ion-segment>
  <div [formGroup]="contributionForm">
  <div [ngSwitch]="contribution_action">
  
    <div *ngSwitchCase="'content'">
  
          <ion-grid>
            <ion-row>
              <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                <label for="cname" class="makeBlock mt15 custom-label">Event Title</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <input type="text" value="" placeholder="Enter you title here" class="mt30 mb20" class="custom-input" padding formControlName="title"/>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                <label for="cname" class="makeBlock mt15 custom-label">Location</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <input type="text" value="" placeholder="Enter you title here" class="mt30 mb20" class="custom-input" padding formControlName="location"/>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                <label for="cname" class="makeBlock mt15 custom-label">Date</label>
              </ion-col>
              
            </ion-row>
                <ion-row>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <input type="date" class="mt30 mb20" class="custom-input" padding formControlName="date"/>
                  </ion-col>
                </ion-row>
            
                <ion-row>
                  <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <label for="cname" class="makeBlock mt15 custom-label">Main Category</label>
                  </ion-col>
                </ion-row>
    
                <ion-row>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                      <ion-list>
                          <ion-item  class="custom-input">
                            <ion-label>Click here to select</ion-label>
                            <ion-select  formControlName="maincategory" (cancel)="onCancel()" (ionChange)="category(contributionForm.value.maincategory)">
                              <ion-option *ngFor="let preferences of preferencesData; let i = index" [value]="preferences.Category">{{preferences.Category}}</ion-option>
                            </ion-select>
                          </ion-item>
                        </ion-list>
                  </ion-col>
                </ion-row>
    
                <ion-row>
                  <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <label for="cname" class="makeBlock mt15 custom-label">Sub Category</label>
                  </ion-col>
                </ion-row>
    
                <ion-row>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                      <ion-list>
                          <ion-item  class="custom-input">
                            <ion-label>Click here to select</ion-label>
                            <ion-select [disabled]="!contributionForm.value.maincategory" formControlName="subcategories" (cancel)="onCancel()" (ionChange)="subCategory(contributionForm.value.subcategories)">
                              <ion-option *ngFor="let preferences of slectedCategory.SubCategories; let i = index" [value]="preferences.SubCategory">{{preferences.SubCategory}}</ion-option>
                            </ion-select>
                          </ion-item>
                        </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <label for="cname" class="makeBlock mt15 custom-label">Add Tags</label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <input type="text" value="" placeholder="Add comma seperated tags" class="mt30 mb20" class="custom-input" padding [(ngModel)]="eventTags" [ngModelOptions]="{standalone: true}"/>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <div class="makeCenter">
                      <p class="bold">Use the tool bucket below to add content,<br/>images and media to your Contribution Spotlight</p>
                      <div class="tooltip_vector v1">
                          <img tooltip="You May use 1, 2 or all of the tools in your contribution spotlight. Add content folds, video, images etc. You can choose to continue or save draft to complete at a later date"
                          triggers="click" placement="bottom" alt="" src="../../assets/imgs/tooltip_vector.png">
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
          </ion-grid>

      <ion-list>
          <ion-grid>
              <ion-row>
                <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                  <div class="tool-buckt add-text-area" (click)="scroll('fold-1')">
                      <a href="#">
                        <i class="fas fa-text-width icon-bg"></i>
                        <p>Text</p>
                      </a>
                  </div>
                  <div class="tooltip_vector v2">
                      <img tooltip="You can add text here"
                      triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                  </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                  <div class="tool-buckt add-embedvideo" (click)="scroll('fold-2')">
                      <a href="#">
                        <i class="fas fa-code icon-bg"></i>
                        <p>Embed Video</p>
                      </a>
                  </div>
                  <div class="tooltip_vector v2">
                      <img tooltip="You can embed video here"
                      triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                  </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                  <div class="tool-buckt add-audio" (click)="scroll('fold-3')">
                      <a href="#">
                        <i class="fas fa-volume-up icon-bg"></i>
                        <p>Audio</p>
                      </a>
                  </div>
                  <div class="tooltip_vector v2">
                      <img tooltip="You can add audio here"
                      triggers="click" placement="left" alt="" src="../../assets/imgs/tooltip_vector.png">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-2>
                    <div class="tool-buckt add-imagegallery" (click)="scroll('fold-4')">
                      <a href="#">
                        <i class="fas fa-th icon-bg"></i>
                        <p>Image Gellary</p>
                      </a>
                    </div>
                    <div class="tooltip_vector v2">
                        <img tooltip="You can add image gallery here"
                        triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                    </div>
                  </ion-col>
                  <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                    <div class="tool-buckt add-link" (click)="scroll('fold-5')">
                        <a href="#">
                          <i class="fas fa-link icon-bg"></i>
                          <p>Add Link</p>
                        </a>
                    </div>
                    <div class="tooltip_vector v2">
                        <img tooltip="You can add links here"
                        triggers="click" placement="left" alt="" src="../../assets/imgs/tooltip_vector.png">
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>


      </ion-list>

      
      <ion-list>
          <div class="foldings">
            <div id="fold-1" style="display: none">
                <p class="makeBlock mt15">Add Text to your contribution. Require a minimum of 10 Words*</p>
                <hr>    
                <div [froalaEditor]="opts" formControlName="contributiontext" ></div>
            </div>

            <div id="fold-2" class="makeCenter" style="display: none">
                <hr>                            
                <h3 class="">Add Video(Optional)</h3> 
                <p class="makeBlock mt15">Paste link of the Video Here</p>
                <input type="text" value="" placeholder="https://www.youtube.com/watch?v=UthcbjOx598" class="mt30 mb20" class="custom-input1" formControlName="videos" />
            </div>

            <div id="fold-3" class="makeCenter" style="display: none">
              <hr> 
              <div class="loader" *ngIf="loaders.audio">
                  <ion-spinner name="bubbles"></ion-spinner>
              </div>  
              <div class="completed-check" *ngIf="isUploaded.audio">
                  <div class="check-click">
                      <span class="fa fa-check"></span>
                   </div>
                   <p>Your Audio was uploaded Successfully</p>
              </div>
              <div class="completed-check" *ngIf="isUploaded.error">
                  <div class="times-click">
                      <span class="fa fa-times"></span>
                   </div>
                   <p>Audio file is too large</p>
              </div>  
              <h3 class="">Add Audio(Optional)</h3>
                <input type="file" id="file-2" class="inputfile inputfile-4" (change)="uploadAudio($event)" accept="audio/*">
                <label for="file-2"><figure><i class="fas fa-file-upload"></i></figure> <span>Choose a file</span></label>
                <p class="makeBlock">Max File size is 5MB</p>
            </div>    

            <div id="fold-4" class="makeCenter"  style="display: none">
              <hr>    
              <div class="loader" *ngIf="loaders.img">
                  <ion-spinner name="bubbles"></ion-spinner>
              </div>  
              <h3 class="">Add Images(Optional)</h3>
              <div  *ngFor="let pics of imageStatus; let i = index" class="img-upload">
                  <img [src]="pics.localImage" height="150px" />
                  <input type="text" value="" placeholder="Image Title" class="mt30 mb20" class="custom-input1"[(ngModel)]="pics.title" [ngModelOptions]="{standalone: true}"/>
                  <input type="text" value="" placeholder="Image Description" class="mt30 mb20" class="custom-input1"[(ngModel)]="pics.description" [ngModelOptions]="{standalone: true}"/>
                  <div class="delete-icon" (click)="removeImage(i)">
                      <ion-icon name="ios-trash-outline" md="md-trash"></ion-icon>
                  </div>
              </div>
              <input type="file" id="file-5" class="inputfile inputfile-4" accept="image/png,image/jpeg,image/jpg" (change)="uploadContributionImage($event)">
              <label for="file-5"><figure><i class="search fas fa-search-plus"></i></figure> <span>Choose a file</span></label>
            </div>

            <div id="fold-5" class="makeCenter" style="display: none">
              <fieldset formArrayName="website">
                <hr>    
                <h3 class="">Create and add links for your Website, Social, Read More, Learn More, More Info, etc to share additional relevant information for your Contribution Spotlight (Optional)</h3>
                <div *ngFor="let website of contributionForm.get('website').controls; let i=index" [formGroupName]="i">
                    <p class="makeBlock mt15">Title</p>
                    <input type="text" value="" placeholder="Add the Link Name here" class="mt30 mb20" class="custom-input1" formControlName="websitetitle"/>
                    <p class="makeBlock mt15">Paste link Here</p>
                    <input type="text" value="" placeholder="Copy and paste link here" class="mt30 mb20" class="custom-input1" formControlName="websiteurl"/>
                </div>
                <button class="red-btn" (click)="addNewUrl()">
                    Create More Links
                </button>   
              </fieldset>  
            </div>
          </div>
      </ion-list>
      <ion-list>
        <ion-grid>
            <ion-row>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <div class="tool-buckt add-text-area" (click)="scroll('fold-1')">
                    <a href="#">
                      <i class="fas fa-text-width icon-bg"></i>
                      <p>Text</p>
                    </a>
                </div>
                <div class="tooltip_vector v2">
                    <img tooltip="You can add text here"
                    triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                </div>
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <div class="tool-buckt add-embedvideo" (click)="scroll('fold-2')">
                    <a href="#">
                      <i class="fas fa-code icon-bg"></i>
                      <p>Embed Video</p>
                    </a>
                </div>
                <div class="tooltip_vector v2">
                    <img tooltip="You can embed video here"
                    triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                </div>
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <div class="tool-buckt add-audio" (click)="scroll('fold-3')">
                    <a href="#">
                      <i class="fas fa-volume-up icon-bg"></i>
                      <p>Audio</p>
                    </a>
                </div>
                <div class="tooltip_vector v2">
                    <img tooltip="You can add audio here"
                    triggers="click" placement="left" alt="" src="../../assets/imgs/tooltip_vector.png">
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-2>
                  <div class="tool-buckt add-imagegallery" (click)="scroll('fold-4')">
                    <a href="#">
                      <i class="fas fa-th icon-bg"></i>
                      <p>Image Gellary</p>
                    </a>
                  </div>
                  <div class="tooltip_vector v2">
                      <img tooltip="You can add image gallery here"
                      triggers="click" placement="right" alt="" src="../../assets/imgs/tooltip_vector.png">
                  </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                  <div class="tool-buckt add-link" (click)="scroll('fold-5')">
                      <a href="#">
                        <i class="fas fa-link icon-bg"></i>
                        <p>Add Link</p>
                      </a>
                  </div>
                  <div class="tooltip_vector v2">
                      <img tooltip="You can add links here"
                      triggers="click" placement="left" alt="" src="../../assets/imgs/tooltip_vector.png">
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>


    </ion-list>
      <div class="btn-group">
          <ion-grid>
            <ion-row>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="red-btn" [disabled]="!coverImage">
                  Previous
                </button>  
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="blue-btn" (click)="saveDraft()" >
                  <ion-icon class="draft-icon" name="ios-download-outline"></ion-icon>Draft
                </button>  
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="yellow-btn" (click)="goTo()" [disabled]="(!contributionForm.controls['title'].value || !contributionForm.controls['contributiontext'].value) && (contributionForm.controls['title'].invalid || contributionForm.controls['contributiontext'].invalid)">
                  Next
                </button>  
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>

    <div *ngSwitchCase="'cover-image'">
      <div class="loader makeCenter" *ngIf="loading">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>  
      <div class="cover-image makeCenter">
        <img *ngIf="coverImage" [src]="coverImage" alt="">
        <img *ngIf="!coverImage" src="../../assets/imgs/avatar.png" alt="">
      </div>

      <div class="makeCenter">
      <button class="red-btn" (click)="openActionSheet()" >
        Choose Image
      </button>  
      </div>
      <div class="btn-group">
          <ion-grid>
            <ion-row>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="red-btn" (click)="previous()">
                  Previous
                </button>  
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="blue-btn" (click)="saveDraft()" >
                  <ion-icon class="draft-icon" name="ios-download-outline"></ion-icon>Draft
                </button>  
              </ion-col>
              <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <button class="yellow-btn" (click)="next()" [disabled]="!coverImage">
                  Next
                </button>  
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>

    <div *ngSwitchCase="'submit'">
  
        <div class="makeCenter" *ngIf="!eventId">
          <p>Congratulation your event spotlight is ready to submit</p>
            <button class="red-btn" (click)="saveEvent()" >
               Submit Event
             </button>  
        </div>
        <div class="makeCenter" *ngIf="eventId">
            <p>Congratulation your event spotlight is ready to update</p>
              <button class="red-btn" (click)="updateEvent()" >
                 Update Event
               </button>  
          </div>
        <div class="btn-group">
            <ion-grid>
              <ion-row>
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                  <button class="red-btn" (click)="goTo()">
                    Previous
                  </button>  
                </ion-col>
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                  <button class="blue-btn" (click)="saveDraft()" >
                    <ion-icon class="draft-icon" name="ios-download-outline"></ion-icon>Draft
                  </button>  
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
      </div>

  </div>
</div>
</ion-content>
